/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Write your code below */
.header{
  background:url("https://prog-8.com/images/html/advanced/top_en.png");
  background-size:cover;
  padding:180px 0px 100px 0px;
}

.header-judul{
  text-align:center;
  color:white;
}

.header h1{
  font-size:45px;
  letter-spacing:5px;
  opacity:0.7;
  padding-bottom:10px;
}

.header p{
  opacity:0.7;
  margin-bottom:3px;
}

.header-btn p{
  opacity:0.7;
  margin:10px 0px;
}

.header-btn{
  text-align:center;
  color:white;
  margin:20px 0px;
}

.btn{
  padding:12px 24px;
  color:white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity:1;
}

.email{
  background-color:#239b76;
  opacity:0.8;
}

.fb{
  background-color:#3b5998;
  opacity:0.8;
  margin-right: 10px;
}

.twt{
  background-color:#55acee;
  opacity:0.8;
}

.fa{
  margin-right:5px;
}

header{
  height: 65px;
  width: 100%;
  background-color:rgba(34, 49, 52, 0.9);
  position:fixed;
  z-index: 100;
}

.taskbar{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.taskbar-logo{
  width: 124px;
  margin-top: 20px;
}

.taskbar-judul{
  float:left;
}

.taskbar-login{
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition:all 0.5s;
}

.taskbar-login:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.taskbar-login a{
  line-height: 65px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  display:block;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align:center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon{
  position:relative;
}

.lesson-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color:#b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active{
  box-shadow:none;
  position: relative;
  top: 7px;
}